body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background: lightgray;
  background: linear-gradient(lightgray, gray);
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

/***************** NAV *****************/

nav ul {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
}

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

.hero {
  display: flex;
  justify-content: center;
  color: #42b6f4;
}

header {
  background-color: #333; /* we can't add background-color to the .hero section above
                           * because that section also uses the "snow" class which has
                           * a background-image which overrides the background-color */
}

header img {
  max-height: 6rem;
  padding-right: 2rem;
}

h1 .logo-w {
  font-size: 4rem;
}

/**************** ASIDE ****************/

aside {
  margin: 1rem;
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3d7fcf;
  border: 1px solid #3d7fcf;  /* warning for same color border - but we need to set the border so we can set the border-radius */
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 3rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.item-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.item-container div {
  max-width: 40rem;
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}
